// variables

$maincolor: #003658; /* azul oscuro*/
$keycolor: #91CC00; /* verde tenis*/
$secondcolor: #587a96; /* azul claro*/
$bk1color: #c4c4c4; /* gris claro*/

// Sizing

$w-100: 100%;
$w-75: 75%;
$w-50: 50%;
$w-25: 25%;

